.Header {
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 65px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  background-color: #3fc35f; }
  .Header__title {
    color: #fff; }
    .Header__title:hover {
      color: #fff; }
  .Header__links {
    position: absolute;
    right: 10px; }
    .Header__links__icon {
      font-size: 32px;
      color: #fff; }
      .Header__links__icon:hover {
        cursor: pointer; }
