.Header {
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #d1d1d1; }
  .Header__block {
    display: flex;
    align-items: center;
    height: 60px; }
    .Header__block__back-arrow {
      position: relative;
      left: -20px;
      margin-top: 5px;
      font-size: 48px;
      color: #3fc35f; }
      @media (min-width: 768px) {
        .Header__block__back-arrow {
          position: absolute;
          left: 0;
          top: 0; } }
  .Header__title {
    color: #3fc35f;
    position: relative; }
    @media (min-width: 768px) {
      .Header__title {
        left: 50%;
        transform: translateX(-50%); } }
    .Header__title:hover {
      color: #3fc35f; }
  .Header__links {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    height: 100%; }
    .Header__links__wrapper {
      display: flex;
      align-items: center;
      padding-left: 0;
      height: 100%;
      border-left: 1px solid #fff; }
      .Header__links__wrapper__icon {
        padding-left: 15px;
        font-size: 32px;
        color: #3fc35f; }
        .Header__links__wrapper__icon:hover {
          cursor: pointer; }
      .Header__links__wrapper__priceContainer {
        color: #939393;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5px; }
        .Header__links__wrapper__priceContainer__amount {
          margin-bottom: 3px;
          font-size: 12px;
          font-weight: bold; }
        .Header__links__wrapper__priceContainer__price {
          margin: 0;
          font-size: 12px;
          color: #3fc35f; }
