.Book {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 410px;
  border: 1px solid #d1d1d1;
  margin-top: -1px;
  background-color: #fff; }
  .Book:hover {
    box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 0.15); }
  .Book__figureContainer {
    margin-top: 15px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    min-height: 290px; }
    .Book__figureContainer__discountTag {
      border-radius: 50%;
      border: 2px solid #000;
      position: absolute;
      left: 10px;
      width: 40px;
      font-weight: bold;
      font-size: 12px;
      padding: 5px;
      height: 40px;
      line-height: 14px; }
    .Book__figureContainer__img {
      height: 120px; }
    .Book__figureContainer__caption__name {
      margin-top: 10px;
      font-size: 15px;
      margin-bottom: 5px; }
    .Book__figureContainer__caption__subtitle {
      font-size: 13px;
      margin-top: 0;
      color: #6d6d6d; }
    .Book__figureContainer__caption__description {
      font-size: 11px;
      color: #939393;
      text-align: justify;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      /*! autoprefixer: on */
      -webkit-line-clamp: 4; }
  .Book__valueContainer__discount {
    margin-right: 10px;
    font-size: 14px;
    text-decoration: line-through !important;
    color: #939393; }
  .Book__valueContainer__price {
    font-size: 16px;
    font-weight: bold; }
  .Book__actions {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-between; }
    .Book__actions__addToCart, .Book__alert__container__goToCart--btn {
      background-color: #c33fa3;
      border: 1px solid #c33fa3;
      border-radius: 5px;
      color: #fff;
      font-size: 12px; }
      .Book__actions__addToCart:hover, .Book__alert__container__goToCart--btn:hover {
        background-color: #9e3183; }
    .Book__actions__quantityContainer {
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .Book__actions__quantityContainer__quantity {
        margin: 0 10px;
        min-width: 18px;
        text-align: center; }
      .Book__actions__quantityContainer__minus, .Book__actions__quantityContainer__plus {
        display: flex;
        align-items: center;
        padding: 4px 5px;
        background-color: white;
        border: 1px solid #939393;
        border-radius: 5px;
        width: 30px;
        color: #939393; }
        .Book__actions__quantityContainer__minus .material-icons, .Book__actions__quantityContainer__plus .material-icons {
          font-size: 18px;
          position: relative; }
        .Book__actions__quantityContainer__minus:hover, .Book__actions__quantityContainer__plus:hover {
          border: 1px solid #c33fa3;
          color: #c33fa3; }
  .Book__alert {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center; }
    .Book__alert__container {
      color: #fff;
      font-size: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .Book__alert__container__icon {
        font-size: 42px;
        margin-bottom: 10px; }
      .Book__alert__container__goToCart--btn {
        margin-top: 35px;
        font-size: 14px;
        width: 100%;
        padding: 5px 10px; }
      .Book__alert__container__pickMore--btn {
        margin-top: 10px;
        background-color: transparent;
        border: none;
        font-size: 12px;
        text-decoration: underline;
        color: #fff; }
